.carrosel__titulo {
    color: var(--laranja);
    text-align: center;
    background-color: var(--branco);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: inherit;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;    
}

@media screen and (min-width: 1024px) {
    .carrosel__titulo{
        font-size: 26px;
        
    }
    
    .swiper-pagination {
       margin: 2em 0 3em 0;

    }

    .swiper{
        width: 60%;
    }

   

    .card {
        margin: 2em auto;
        width: 55%;
    }

    .swiper-button-next,.swiper-button-prev {
        display: block;
        top: 65%;
    }

    .descriçao__titulo {
        padding: 0.4em 0;
    }

     .descriçao__titulo-livro{
        font-size: 20px;
    }

    .descriçao__titulo {
        font-size: 20px;
    }

    .descriçao__texto {
        font-size: 18px;
        width: 95%;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel__container {
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
    }

    .swiper-pagination {
        margin: 0;
    }

    .swiper {
        width: 50%;
    }

    .descriçao__titulo {
        font-size: 32px;
    }

    .descriçao__texto {
        font-size: 16px
    }

    .card {
        margin-left: 3em;
    }

}
