.cabecalho__menu_hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteiner {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;  
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo , .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    

}

.lista-menu__titulo {
    color: var(--laranja);
    font-size: 16px;
}

.lista-menu__link {
    color: var(--cor-do-link);
    text-decoration: none;
    text-transform: uppercase;  
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
   display: none; 
}

.container__titulo--segundo {
    display: none;
}

.container__botao:checked ~ .container__rotulo>.cabecalho__menu_hamburguer {
    background-image: url("../imagens/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--cor-do-link);
}

/** outras telas **/

@media screen and (min-width: 1024px) {
    .container__titulo,.container__titulo--negrito {
       font-family: var(--fonte-secundaria);
       font-size: 30px;
       position: relative;
       left: 40px;
       bottom: 30px;
    }

    .container__titulo {
        font-weight: 400;
        
    }

    .container__titulo--segundo {
        display: none;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-trasparente {
        display: none;
    }

    .cabecalho__menu_hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-do-link);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background-color: var(--cor-do-link);
    }
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container {
        display: flex;
        
    }
    
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        padding-right: 45em;
        padding-top: 1.4em;
    }

    .container__texto {
        display: block;
    }

    .container__titulo--segundo {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 30px;
    }

    .container__titulo--negrito--segundo {
        font-weight: 700;
        font-size: 30px;
    }
    
}